@model Tontine.Models.Membre

<h1>Nouveau Membre</h1>
<form asp-action="Create">
    <div class="form-group">
        <label>Nom</label>
        <input asp-for="Nom" class="form-control" />
    </div>
    <div class="form-group">
        <label>Téléphone</label>
        <input asp-for="Telephone" class="form-control" />
    </div>
    <div class="form-group">
    <label>Attribuer à un Groupe</label>
    <select asp-for="GroupeId" class="form-control" 
            asp-items="@(new SelectList(ViewBag.Groupes, "Id", "Nom"))">
        <option value="">-- Sélectionner un groupe --</option>
    </select>
</div>
    <br />
    <button type="submit" class="btn btn-success">Enregistrer</button>
    <a asp-action="Index">Retour</a>
</form>